html,
body {
  padding: 0;
  margin: 0;
  font-family: apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-smoothing: antialiased;
  background-color: var(--bg);
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}
.loader {
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2.5s linear infinite;
}
.loader::after {
  animation-delay: 2s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.pulsing {
  width: 30px;
  height: 30px;
  background: #3ef994;
  color: white;
  box-shadow: 0 0 0 0 #3ef994;
  animation: pulsing 2.5s infinite;
}

@keyframes pulsing {
  100% {
    box-shadow: 0 0 0 30px #0000;
  }
}
input[type="file"] {
  display: none;
}

.completed_animation {
  transition: all 0.4s ease-in-out;
  top: -100% !important;
}

#peers {
  position: relative;
}

.connecting-animation /* HTML: <div class="loader"></div> */
 {
  width: 20px;
  height: 15px;
  --m:no-repeat linear-gradient(90deg,#000 40%,#0000 0);
  -webkit-mask: 
    var(--m) calc(0*100%/4) 100%/calc(100%/6) calc(1*100%/5),
    var(--m) calc(1*100%/4) 100%/calc(100%/5) calc(2*100%/5),
    var(--m) calc(2*100%/4) 100%/calc(100%/5) calc(3*100%/5),
    var(--m) calc(3*100%/4) 100%/calc(100%/5) calc(4*100%/5);
  background: linear-gradient(var(--brandgreen)) left/0% 100% no-repeat var(--gray);
  animation: l14 1s infinite steps(6);
}

@keyframes l14 {
  100% {background-size: 120% 100%}
}


.app {
  background-color: var(--bg);
  background: repeating-radial-gradient(
    circle,
    transparent 0.1%,
    var(--spiralcolor) 0.2%,
    var(--spiralcolor) 0.24%,
    transparent 0.26%,
    transparent 16.6%
  );
  background-repeat: no-repeat;
  background-size: 100% 200%;
  background-position: 0 11%;
}

@media screen and (max-width: 500px) and (min-height: 300px) {
  .app {
    background-size: 100% 200%;
    background-position: 0 13%;
  }
}
