@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: var(--bg);
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.pulsing {
  width: 30px;
  height: 30px;
  background: #C5C5C5;
  box-shadow: 0 0 0 0 #3ef994;
  animation: pl1 1s infinite;
}

@keyframes pl1 {
  100% {
    box-shadow: 0 0 0 30px #0000;
  }
}
input[type="file"] {
  display: none;
}

.completed_animation {
  transition: all 0.4s ease-in-out;
  top: -100% !important;
}

#peers {
  position: relative;
}
.app {
  background-color: var(--bg);
  background: repeating-radial-gradient(
    circle,
    transparent 0.1%,
    var(--gray) 0.2%,
    var(--gray) 0.29%,
    transparent 0.39%,
    transparent 10.6%
  );
  background-repeat: no-repeat;
  background-size: 100% 200%;
  background-position: 0 15%;
}

@media screen and ( max-width:500px) and (min-height:300px) {
  .app {
     background-size: 100% 200%;
     background-position: 0 15%;
  }
  }


