:root {
  --green: #3ef994;
  --textc:#121212;
  --bg: #fafafa;
   --gray:#ebebeb;
}

[data-theme="dark"] {
  --bg:#121212;
  --textc: #fafafa;
  --gray:#242424;
}
html,body {
  display:flex;
  flex-direction:column;
  overflow-y: hidden;
}
