:root {
  --green: #3ef994;
  --textc:#323232;
  --bg: #fafafa;
   --gray:#f0f0f0;
    --textgray:#c4c4c4;
}

[data-theme="dark"] {
  --bg:#121212;
  --textc: #fafafa;
  --gray:#1f1f1f;
   --textgray:#4f4f4f;
}
html,body {
  display:flex;
  flex-direction:column;
  overflow-y: hidden;
}
