@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --brandgreen: #3ef994;
  --textcolor: #323232;
  --bg: white;
  --gray: rgb(237, 237, 237);
  --fillgray: #c4c4c4;
  --progress: 0;
  --spiralcolor: rgb(237, 237, 237);
}

/* [data-theme="dark"] {
  --bg:#171717;
  --textcolor: #fafafa;
  --gray: #1f1f1f;
  --textgray: #4f4f4f;
} */
html,
body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
